@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;600;700;800;900&display=swap');
* {
  font-family: 'Montserrat';
}

:root {
  --principal-color: #5c1a00;
  --sub-principal-color: #962a00;
  --principal-background-color: #e9e9e9;
  --sub-principal-background-color: #f1f1f1;
  --principal-font-color: #f1f1f1;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--sub-principal-background-color);  
}

main {
    font-family: 'Martel Sans';
    margin-top: 10rem;
    width: 80%;
    height: 100vh;
    display: flex;
    background-color: var(--principal-background-color);
}
.containerForm {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5rem 40% 20% 1fr;
    grid-template-rows: 5rem 10rem 10rem 60% 1fr 5rem;
}



.contentTituloForm {
    grid-column: 2;
    grid-row: 2;
}
.contentTituloForm h1{
    font-size: 5rem;
    font-weight: bold;
    color: var(--principal-color);
}
.contentTituloForm h3 {
    font-size: 1.8rem;
    margin-left: 1rem;
}


.contentForm {
    grid-column: 2;
    grid-row: 4/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contentForm form {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    color: #4b463f;
}

.contentForm form div {
    display: flex;
    flex-direction: column;
}
.contentForm form div label {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.contentForm form div label::before {
    content: '';
    display: inline-block;
    align-self: center;
    width: 1.5rem;
    height: 0.5rem;
    margin: 0rem 0.5rem;
    background-color: var(--principal-color);
}
.contentForm form div input {
    border: none;
    width: 40rem;
    height: 3rem;
    border-bottom: 1px solid var(--principal-color);
    outline: none;
}
.contentForm form div:nth-child(4) textarea {
    width: 40rem;
    height: 20rem;
    outline: none;
}
.contentForm form .btnFormContact {
    width: 7.6rem;
    height: 5rem;
    align-self: flex-start;
    border: none;
    color: var(--principal-font-color);
    background-color: var(--sub-principal-color);
}

aside {
    grid-column: 3;
    grid-row: 4;
    align-self: flex-end;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}
aside h3 {
    font-size: 3.3rem;
    font-weight: 600;
    align-self: flex-end;
    color: var(--principal-color);
}
aside p {
    font-size: 2rem;
    align-self: flex-end;
    color: var(--sub-principal-color);
}

.containerImgLoja {
    grid-column: 4/5;
    grid-row: 1/7;
    position: relative;
    background-size: coverz;
}
.containerImgLoja img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}