@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;600;700;800;900&display=swap');
* {
  font-family: 'Montserrat';
}

:root {
  --principal-color: #5c1a00;
  --sub-principal-color: #962a00;
  --principal-background-color: #e9e9e9;
  --sub-principal-background-color: #f1f1f1;
  --principal-font-color: #f1f1f1;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}


/* Header */
.containerHeader {
  display: grid;
  grid-template-columns: 1fr 55% 40% 1fr;
  height: 90vh;
}
.containerHeaderText {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentHeaderText {
  display: flex;
  flex-direction: column;
  font-family: 'Martel Sans' ;
}
.contentHeaderText>h1 {
  font-size: 11rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--principal-color);
}
.contentHeaderText>h2 {
  font-size: 2.5rem;
  align-self: flex-end;
  color: #8a8074;
}
.contentHeaderText>p {
  font-size: 2.2rem;
  width: 60rem;
  color: #4b463f;
}

.containerButtom {
  width: 40rem;
  align-self: flex-end;
  margin-top: 2.5rem;
}
.containerButtom>a {
  text-decoration: none;
  color: var(--principal-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 0.2rem solid var(--principal-color);
  padding: 1.5rem;
  transition: 0.1s;
}
.containerButtom>a:hover {
  color: var(--principal-font-color);
  border: 0.2rem solid #f1f1f1;
  background-color: var(--principal-color);
}


.containerHeaderImg {
  grid-column: 3/5;
  background: url("../assets/imgs/background.jpg");
  background-position: center;
  background-size: cover;
}
main {
  height: 100vh;
  font-family: 'Martel Sans';
}
.containerSections {
  height: 100%;
  display: grid;
  grid-template-rows: 30% 10% 10% 10% 40%;
  background-color: #e9e9e9;
}
.secFilosofia {
  grid-row: 1/3;
  background-color: var(--principal-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem 0rem 5rem;
}
.contentFotoSapateiro {
  width: 45%; 
  display: flex;
  justify-content: center;
}
.fotoSapateiro {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: -100px 0px;
  border-radius: 50%;
}
.breatherBar {
  width: 2px;
  margin: 0 50px;
  height: 80%;
  background-color: #f1f1f1;
}
.containerFilosofia {
  width: 45%;
  color: var(--principal-font-color);
  font-size:2rem;
  text-align: center;
}


.secProduto {
  grid-row: 4/6;
}


/* Card */

.containerCard {
  height: 100%; 
}
.contentCard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.card {
  width: 30rem;
  height: 100%;
  background-color: #cecece;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCardImg {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.containerCardImg>img {
  width: 90%;
  height: 95%;
  object-fit: cover;
  border-radius:  0.5rem;
}
.card3 .containerCardImg>img {
  object-position: bottom;
}

.conteudoCard {
  display: flex;
  justify-self: center;
  width: 90%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
}
.conteudoCard>h1 {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #3f3f3f;
}
.conteudoCard>button {
  height: 3rem;
  padding: 0.2rem 1rem;
  border: none;
  background-color: var(--principal-color);
  color: #eeeeee;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: 0.05s;
}

.conteudoCard button:hover {
  cursor: pointer;
}

