@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;600;700;800;900&display=swap');
* {
  font-family: 'Montserrat';
}
body {
  display: flex;
  flex-direction: column;
}
html {
  font-size: 62.5%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navTitulos {
  display: flex;
  width: 80%;
  margin-left: 1fr;
  margin-top: 2rem;
  padding: 3rem 0rem 3rem 3rem;
  background-color: #964b00;
}
.navTitulos a {
  padding-left: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat';
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f1f1;
}


/* Header */
.containerHeader {
  display: grid;
  grid-template-columns: 1fr 55% 40% 1fr;
  height: 90vh;
}
.containerHeaderText {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentHeaderText {
  display: flex;
  flex-direction: column;
  font-family: 'Martel Sans' ;
}
.contentHeaderText h1 {
  font-size: 11rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #5c2e00;
}
.contentHeaderText h2 {
  font-size: 2.5rem;
  align-self: flex-end;
  color: #8a8074;
}
.contentHeaderText p {
  font-size: 2.2rem;
  width: 60rem;
  color: #4b463f;
}

.containerButtom {
  width: 40rem;
  align-self: flex-end;
  margin-top: 2.5rem;
}
.containerButtom a {
  text-decoration: none;
  color: #5c2e00;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 0.2rem solid #5c2e00;
  padding: 1.5rem;
  transition: 0.1s;
}
.containerButtom a:hover {
  color: #f1f1f1;
  border: 0.2rem solid #f1f1f1;
  background-color: #5c2e00;
}


.containerHeaderImg {
  grid-column: 3/5;
  background: url("../assets/imgs/background.jpg");
  background-position: center;
  background-size: cover;
}
main {
  height: 100vh;
  font-family: 'Martel Sans';
}
.containerSections {
  height: 100%;
  display: grid;
  grid-template-rows: 30% 10% 10% 10% 10% 30%;
}
.secFilosofia {
  grid-row: 0/2;
  background-color: #5c2e00;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem 0rem 5rem;
}
.containerFilosofia {
  padding: 20%;
  color: #f1f1f1;
  font-size:2rem;
  text-align: center;
}

.contentFotoSapateiro {
  position: absolute;
}
.fotoSapateiro {
  width: 100%;
  height: 100%;
  position: absolute;
}



.secProduto {
  grid-row: 2/3;
}


/* Card */

.contentCard {
  display: flex;
}
.card {
  width: 30rem;
  height: 50rem;
  background-color: #964b00;
  border-radius: 0.5rem;
  margin: 10px;
}

