@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Montserrat';
}
body {
  display: flex;
  flex-direction: column;
}
html {
  font-size: 62.5%;
}


nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navTitulos {
  display: flex;
  width: 80%;
  margin-left: 1fr;
  margin-top: 2rem;
  padding: 3rem 0rem 3rem 3rem;
  background-color: #964b00;
}
.navTitulos a {
  padding-left: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat';
  text-decoration: none;
  text-transform: uppercase;
  color: #f1f1f1;
}


/* Header */
.containerHeader {
  display: grid;
  grid-template-columns: 1fr 55% 40% 1fr;
  height: 100vh;
}
.containerHeaderText {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentHeaderText {
  display: flex;
  flex-direction: column;
}
.contentHeaderText h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: #5c2e00;
}
.contentHeaderText h2 {
  font-size: 2rem;
  align-self: flex-end;
  color: #3b3732;
}
.contentHeaderText p {
  font-size: 2rem;
  width: 60rem;
}


.containerHeaderImg {
  grid-column: 3;
  
}
